In [63]:
a= 10 

if a==11 :
    print("This is my first condition")

In [64]:
a = 10

if a==5:
    print("OMG")
else:
    print("Oh no")

Oh no

In [65]:
a = 10

if a==12:
    print("we are trying to compare 10 with 12")
elif a== 11:
    print(" we are trying to check 10 with 11")

else:
    print("if all the blocks fail then do this")

if all the blocks fail then do this

In [66]:
price = 500
if price >500:
    print(" may be I wont buy the shirt ")
elif price < 500:
    print(" I will be able to buy the shirt")
    
elif price <=500:
    
    print(" I will be able to buy")
    
else: 
    print("I will bring more money")

 I will be able to buy

In [68]:
L=[1,2,2,3,4,5788,76,9]

In [69]:
##Search 2 in list L
2 in L

True

In [70]:
if 2 in L:
    print("Try to perform task")
else:
    print("do not perform this task")

Try to perform task

In [10]:
if 60 in L:
    print("Try to perform task")
else:
    print("do not perform this task")

do not perform this task

In [71]:
if 1 in L:
    print(" try to do a addition")
elif 2 in L:
    print("try to do sub")
    
elif 3 in L:
    print("try to do Mul")

 try to do a addition

In [72]:
L

[1, 2, 2, 3, 4, 5788, 76, 9]

In [73]:
## input function
b = input()

ferr

In [14]:
b

'jjk'

In [15]:
price = int(input())

if price<500:
    print("I will be able to buy something")
    
    if price< 400:
        print("I will be able to buy a jacket")
    elif price <300:
        print("I will be able to buy anything")
    else:
        print("I wont be able to buy anything")
        
else:
    print("I wont be able to buy anything with this price tag")
    if price >500:
        print("lets try something else")

400
I will be able to buy something
I wont be able to buy anything

In [16]:
marks = int(input())

if marks < 600:
    print("I will be able to clear GRE")

    if marks<600:
        print(" No GRE")
    elif marks<500:
        print("Toefl")
    elif marks< 400:
        print("try something else")
        
else:
    print("Yot GRE! Congratulations")

6003
Yot GRE! Congratulations

In [17]:
val=float(input("enter a floating point number"))

if val >=0:
    if val ==0:
    
        print("entered value is zero")
    else:
        print("enter value is a positive number")
        
else:
    print("entered number is a negative number")

enter a floating point number566.7
enter value is a positive number

In [18]:
a = 10

if a<10 or a==10:
    print("try to do something ")

try to do something

In [19]:
a=10
b=12
c=14
d=16

if a == 10 and b==15 and c==17 and d==16:
    
    
    print("this is a test")

In [20]:
a=10
b=12
c=14
d=16

if a == 10 or b==15 or c==17 or d==16:
    
    
    print("this is a test")

this is a test

In [21]:
d =  {'key1':"value",'key2':"Italy",'key3': "Germany"}

if d['key1'] =="value" and d['key2']== "Italy" and d['key3']== "Germany":
    print("all the values are verified")
    print(d.values())
    
else:
    print("all the values are not verified ")

all the values are verified
dict_values(['value', 'Italy', 'Germany'])

In [22]:
d["key1"]

'value'

In [23]:
d =  {'key1':"value",'key2':"Italy",'key3': "Germany"}

if d['key1'] =="value" and d['key2']== "Italy" and d['key3']== "France":
    print("all the values are verified")
    print(d.values())
    
else:
    print("all the values are not verified ")

all the values are not verified

In [24]:
L = [1,2,3,4,5,"Italy",23.5,0.1,50]

In [25]:
for i in L:
    print(i)

1
2
3
4
5
Italy
23.5
0.1
50

In [26]:
for i in L:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [27]:
for i in L:
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i+ str(1))

2
3
4
5
6
Italy1
51

In [28]:
for i in L:
    if type(i) == int or type(i)==float:
        print(i+1)
    elif type(i) == str:
        print(i+ str(1))

2
3
4
5
6
Italy1
24.5
1.1
51

In [ ]:
L

In [29]:
L1= []

for i in L:
    if type(i) == int:
        L1.append(i)

In [30]:
L1

[1, 2, 3, 4, 5, 50]

In [ ]:
## if there is no body

for i in L:
    pass

In [31]:
K = "Italy"

for i in K:
    print(K)

Italy
Italy
Italy
Italy
Italy

In [32]:
K = "Italy"

for i in K :
    print(i)

I
t
a
l
y

In [33]:
for i in K:
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else")

I
t
a
l
y
if for loop is going to complete itself then it will execute else

In [34]:
L = [1,2,3,4,5,"Italy",23.5,0.1,50]

In [35]:
for i in L:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [36]:
I = "Italy is beautiful"

for i in I:
    
    if i == "s":
        break
        
    print(i)
else:
    print("print string",I)

I
t
a
l
y

i

In [37]:
I = "Italy is beautiful"

for i in I:
    
    if i == "S":
        break
        
    print(i)
else:
    print("print string  ",I)

I
t
a
l
y

i
s

b
e
a
u
t
i
f
u
l
print string   Italy is beautiful

In [38]:
## extract data from Tuples

T = (4,5,6,8,6,"Italy")

for i in T:
    print(i)

4
5
6
8
6
Italy

In [39]:
type(T)

tuple

In [40]:
b= {4,5,6,7,7,7,7,7,7,7,8,"Italy"}

In [41]:
type(b)

set

In [42]:
##Set eliminates same data
b

{4, 5, 6, 7, 8, 'Italy'}

In [43]:
for i in b:
    print(i)

4
5
6
7
8
Italy

In [31]:
d = {'key1':'Germany','contact':'abc@gmail.com','position':'xyz'}

In [32]:
type (d)

dict

In [33]:
for i in d:
    print(i)

key1
contact
position

In [34]:
d['key1']

'Germany'

In [35]:
## Extraxt dict value

for i in d:
    print(d[i])

Germany
abc@gmail.com
xyz

In [49]:
## extract both the keys and values

for i in d:
    print(i, d[i])

key1 Germany
contact abc@gmail.com
position xyz

In [50]:
## extract both the keys and values

for i in d:
    print(i, ':' ,d[i])

key1 : Germany
contact : abc@gmail.com
position : xyz

In [51]:
### print Italy using for loop as following
        ## Italy Italy
        ## Italy Italy Italy
        ## Italy Italy Italy 
        
range(9)

range(0, 9)

In [52]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [54]:
range(0,20)

range(0, 20)

In [55]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
list(range(0,20 , 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
list(range(0,20 , 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
# conflict 0f directtion therefore output is empty
list(range(0,20 , -1))

[]

In [59]:
list(range(20,0 , -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
n = 10

for i in range(10):
    for j in range(0, i+1):
        print("Italy" , end= " ")
    print("\n")

Italy

Italy Italy

Italy Italy Italy

Italy Italy Italy Italy

Italy Italy Italy Italy Italy

Italy Italy Italy Italy Italy Italy

Italy Italy Italy Italy Italy Italy Italy

Italy Italy Italy Italy Italy Italy Italy Italy

Italy Italy Italy Italy Italy Italy Italy Italy Italy

Italy Italy Italy Italy Italy Italy Italy Italy Italy Italy

In [62]:
n = 4

for i in range(4):
    for j in range(0, i):
        print("Italy" , end= " ")
    print("\n")

Italy

Italy Italy

Italy Italy Italy

In [2]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 45
2 76
3 89
4 100
5 32
6 50

In [3]:
t = (3,45,76,89,100,32,50)

In [4]:
len(t)

7

In [5]:
range(len(t))

range(0, 7)

In [6]:
t[0]

3

In [8]:
t[5]

32

In [17]:
s = "Germany"

In [10]:
##try to print the index of s


for i in range(len(s)):
    print(i,s[i])

0 G
1 e
2 r
3 m
4 a
5 n
6 y

In [18]:
for i in range(len(s)):
    print(s[-i],i)

G 0
y 1
n 2
a 3
m 4
r 5
e 6

In [19]:
## print in reverse direction
range(len(s))

range(0, 7)

In [23]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [24]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [25]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [27]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [28]:
for i in (range(len(s)-1,-1,-1)):
    print (i, s[i])

6 y
5 n
4 a
3 m
2 r
1 e
0 G

In [36]:
d

{'key1': 'Germany', 'contact': 'abc@gmail.com', 'position': 'xyz'}

In [37]:
d.items()

dict_items([('key1', 'Germany'), ('contact', 'abc@gmail.com'), ('position', 'xyz')])

In [38]:
for i in d.items():
    print(i)

('key1', 'Germany')
('contact', 'abc@gmail.com')
('position', 'xyz')

In [39]:
for i in d.items():
    print(i,type(i))

('key1', 'Germany') <class 'tuple'>
('contact', 'abc@gmail.com') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [41]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'Germany') <class 'tuple'> <class 'str'>
('contact', 'abc@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [43]:
L1= ["Italy","France","Holand@gmail.com",34658,476,3987]

In [51]:
## extract numeric valus out of the list and create a separate list

L2= []


for i in L1:
    if type(i)==int:
       L2.append(i)

In [49]:
L2

[34658, 476, 3987]

In [65]:
d1 = {1:223456,'name':'ABC','email_id':'xyz"gmail.com', 234:'dehjqm','45':'pqsoodj', 534:'3567'}

In [62]:
## the key valus should be the numeric 

for i in d1:

    print(i)

1
name
email_id
234
45
534

In [69]:
for i in d1:
    
    if type(i)==int:
        print(i, ":", d1[i])

1 : 223456
234 : dehjqm
534 : 3567

In [76]:
### find the output as A: 4, B:3,C:2,D:1 from the string 


s= "AAAABBBCCD"

In [77]:
s.count('A')

4

In [79]:
## using set here to extract the string as unique element 

set(s)

{'A', 'B', 'C', 'D'}

In [78]:
for i in set(s):
    print(i,":",s.count(i))

D : 1
C : 2
A : 4
B : 3

In [80]:
i = 2829907746598

for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [81]:
i = 2829907746598

for j in str(i):
    print(j)

2
8
2
9
9
0
7
7
4
6
5
9
8

In [82]:
i = 2829907746598

for j in str(i):
    print(int(j))

2
8
2
9
9
0
7
7
4
6
5
9
8

In [83]:
i = 2829907746598

for j in str(i):
    print(int(j), type(int(j)))

2 <class 'int'>
8 <class 'int'>
2 <class 'int'>
9 <class 'int'>
9 <class 'int'>
0 <class 'int'>
7 <class 'int'>
7 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
9 <class 'int'>
8 <class 'int'>

In [84]:
#Extract 3 from the tuple below

tu= ("dfgj", "Italy",[1,2,3,4,5],(3,4,5,6), {"key1":"ABC","key2":"XZY"})

In [85]:
3 in tu

False

In [90]:
for i in tu:
    print(i)

dfgj
Italy
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{'key1': 'ABC', 'key2': 'XZY'}

In [91]:
for i in tu:
    if type(i)== list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [16]:
n= 6


for i in range(6):
    for j in range(0,i+1):
        print("hello", end="  ")
    print("\n")

hello

hello  hello

hello  hello  hello

hello  hello  hello  hello

hello  hello  hello  hello  hello

hello  hello  hello  hello  hello  hello

# while loop

In [17]:
## generate numbers from 1 to 10

a =1
b=10

while a<=b:
    print(a)
    
    a= a+1

1
2
3
4
5
6
7
8
9
10

In [18]:
while a<=b:
    print(a)
    a=a+2
else:
    print("print this else block")

print this else block

In [19]:
a= 1
b=10

while a<10:
    print(a)
    if a==5:
        break
    a=a+1
else:
    print("print this")

1
2
3
4
5

In [ ]:
a=1
b=10
while a<b:
    print(a)
    
    if a==3:
       ##continue
    a=a+1

In [1]:
a=1
b=10
while a<b:
    a =a+1
    if a ==3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [2]:
L= [1,2,3,4,5,6,89]

In [3]:
for i in L:
    print(i)

1
2
3
4
5
6
89

In [8]:
L= [1,2,3,4,5,6,89]

In [9]:
L

[1, 2, 3, 4, 5, 6, 89]

In [11]:

a=0
while a<len(L):
    print(L[a])
    a=a+1

1
2
3
4
5
6
89

In [3]:
t=(3,4,5,6,7,8)

In [4]:
a=0
while a<len(t):
    if t[a]==6 or t[a]==7:
        print(a)
    a=a+1

3
4

In [5]:
len(t)

6